.article-img{
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.article {
    display: inline-block;
    text-align: left;
    width: 80%;
    margin: 25px;
    padding: 15px;
    border: 1px solid #000;
}
.article h1, p {
    width: 80%;
}
.article-body {
    text-align: center;
}
